{% extends "app/authbase.html" %}
{% load static %}
{% block body %}
    <div class="window">
        <div class="shadow bg-white rounded login text-center">
            <img src="{% static 'logo.png' %}" class="logo">
            <h1 class="text">Пароль восстановлен!</h1>
            
            <p class="mb-4">Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.</p>
            
            <div class="text-center">
                <a href="{% url 'app:login' %}" class="btn btn-primary">Войти в систему</a>
            </div>
        </div>
    </div>
{% endblock body %}
