{% extends "app/authbase.html" %}
{% load static %}
{% block body %}
    <div class="window">
        <form class="shadow bg-white rounded login" method="POST">
            {% csrf_token %}
            <img src="{% static 'logo.png' %}" class="logo">
            <h1 class="text">Повторная отправка</h1>
            
            <p class="text-center mb-4">Введите ваш email, и мы отправим новое письмо для подтверждения.</p>
            
            {% if form.errors %}
                <div class="errors">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.errors %}
                            <a style="color:red">{{ field.errors }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'mail.png' %}" class="img">
                    </span>
                </div>
                {{ form.email }}
            </div>
            
            <Button class="btn btn-secondary" type="submit">Отправить</Button>
            
            <div class="text-center mt-3">
                <p><a href="{% url 'app:login' %}" class="btn btn-outline-primary">Вернуться к входу</a></p>
            </div>
        </form>
    </div>
{% endblock body %}
